* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #e4e4e4;
}

/* dashbord css */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.card {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.card h2 {
  font-size: 40px;
}

.green {
  background-color: #005b4e;
}

.blue {
  background-color: #02224c;
}

.red {
  background-color: #c30000;
}

.recent-activity {
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recent-activity h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  align-items: center;
}

.activity-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-between;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.activity-item .time {
  font-size: 14px;
  font-weight: bold;
}

.activity-item .details {
  font-size: 14px;
}





/* navbar css */
.navbar {
  background-color: #02224c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar-right img {
  margin-left: 20px;
  cursor: pointer;
}

.bell {
  width: 70px;
}

.user {
  margin-top: 8px;
  width: 50px;
  height: 50px;
}

.navbar .navbar-left {
  display: flex;
  flex-direction: row;
}

.navbar-left img {
  margin-left: 20px;
  cursor: pointer;
}

.menu {
  width: 50px;
}

.logo {
  width: 130px;
  height: 50px;
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 110px;
  left: 0px;
  background-color: #181818;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .tab {
  padding: 20px 50px;
  border: #e4e4e4 solid 2px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content:space-between;
}

.dropdown-menu .tab:hover {
  background-color: #555;
}

.dropdown-menu a{
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 8px;
  font-size: 18px;
}

.dropdown-item {
  position: relative;
}

.dropdown-menu img {
  width: 40px;
  height: auto;
  padding-right: 10px;
}

.dropdown-menu .arrow{
  width: 10px;
  height: auto;
  margin-left: 50px;
  padding-top: 8px;
}

.submenu {
  display: none;
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 350px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu .tab {
  display:grid;
  grid-template-columns: 0.5fr 1fr;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submenu tab:hover {
  background-color: #555;
} 

.bottom{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  border: #e4e4e4 solid 2px;
}

.bottom img{
  width: 100px;
  height: auto;
  color: #8F8F8F;
}

.bottom a{
  font-size: 12px;
  color: #8F8F8F;
}

.profile{
  display: none;
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: #181818;
  width: 280px;
  height:300px;
  border: #e4e4e4 solid 2px;
}

.profile-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.profile-item .details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e4e4e4;
}

.profile-item .tab{
  padding-left: 40px;
  border: #e4e4e4 2px solid;
  width: 280px;
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.profile-item .tab a{
  color: white;
  text-decoration: none;
  padding-left: 5px;
  font-size: 18px;
}

.profile-item .tab img{
  width: 40px;
  height: auto;
  padding-right: 10px;
  padding-left: auto;
}

.notification{
  display: none;
  position: absolute;
  top: 110px;
  right: 50px;
  background-color: #181818;
  width: 280px;
  min-height: 150px;
  height:auto;
  border: #e4e4e4 solid 2px;
}

.notifi-head{
  align-items: center;
  padding: 20px;
  padding-left: 80px;
  color: #e4e4e4;
  font-size: 18px;
  border: #e4e4e4 2px solid;
}

.notifi-item{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  color: #cecece;
  padding-top: 20px;
}
