body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top:200px;
    left:40px;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

h1 {
    text-align: center;
    color: #2e3a59;
    font-size: 2em;
}

table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #2e3a59;
    color: white;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

.status {
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.status.Approved {
    background-color: #28a745;
}

.status.Pending {
    background-color: #ffc107;
}

.status.Rejected {
    background-color: #dc3545;
}

/* Style for the search container */
.search-container {
    display: flex;
    position: absolute;
    top: 80px;
    left: 180px;
    align-items: center;
    margin-top: 50px;
}
.search-container img{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}
/* Style for the search input */
.search-box {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

/* Style for the search button */
.search-button {
    padding: 10px;
    margin-left: 5px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the button */
.search-button:hover {
    background-color: #218838;
}

.action{
  padding-left: 10px;
  width: 20px;
  height: auto;
}




/* navbar css */
.navbar {
  background-color: #02224c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.navbar .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar-right img {
  margin-left: 20px;
  cursor: pointer;
}

.bell {
  width: 70px;
}

.user {
  margin-top: 8px;
  width: 50px;
  height: 50px;
}

.navbar .navbar-left {
  display: flex;
  flex-direction: row;
}

.navbar-left img {
  margin-left: 20px;
  cursor: pointer;
}

.menu {
  width: 50px;
}

.logo {
  width: 130px;
  height: 50px;
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 110px;
  left: 0px;
  background-color: #181818;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu .tab {
  padding: 20px 50px;
  border: #e4e4e4 solid 2px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content:space-between;
}

.dropdown-menu .tab:hover {
  background-color: #555;
}

.dropdown-menu a{
  color: white;
  text-decoration: none;
  padding-left: 5px;
  font-size: 18px;
}

.dropdown-item {
  position: relative;
}

.dropdown-menu img {
  width: 40px;
  height: auto;
  padding-right: 10px;
}

.dropdown-menu .arrow{
  width: 20px;
  height: 20px;
  margin-left: 50px;
}

.submenu {
  display: none;
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 350px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu .tab {
  display:grid;
  grid-template-columns: 0.5fr 1fr;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submenu tab:hover {
  background-color: #555;
} 

.bottom{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  border: #e4e4e4 solid 2px;
}

.bottom img{
  width: 100px;
  height: auto;
  color: #8F8F8F;
}

.bottom a{
  font-size: 12px;
  color: #8F8F8F;
}

.profile{
  display: none;
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: #181818;
  width: 280px;
  height:auto;
  border: #e4e4e4 solid 2px;
  z-index: 1;
}

.profile-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  align-items: center;
}

.profile-item .details{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e4e4e4;
}

.profile-item .details p{
    margin-top: -20px;
    padding-top: 0px;
}

.profile-item .tab{
  padding-left: 40px;
  border: #e4e4e4 2px solid;
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.profile-item .tab a{
  color: white;
  text-decoration: none;
  padding-left: 5px;
  font-size: 18px;
}

.profile-item .tab img{
  width: 40px;
  height: auto;
  padding-right: 10px;
  padding-left: auto;
}

.notification{
  display: none;
  position: absolute;
  top: 110px;
  right: 50px;
  background-color: #181818;
  width: 280px;
  min-height: 150px;
  height:auto;
  border: #e4e4e4 solid 2px;
  z-index: 2;
}

.notifi-head{
  align-items: center;
  padding-bottom: 20px;
  height: 50px;
  padding-left: 80px;
  color: #e4e4e4;
  font-size: 18px;
  border: #e4e4e4 2px solid;
}

.notifi-item{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  color: #cecece;
  border: #e4e4e4 2px solid;
  min-height: 100px;
  padding-top: 20px;
}
